@page

<div class="text-center">

  <p>
    <a asp-area="Members" asp-page="Index">Click here for Premium stuff</a>
  </p>

  <h1>Website home page - lots of FREE stuff ↓</h1>

</div>


<p class="fixed-bottom text-center m-5">
  <small>
    Note: an un-registered user is taken to the login page if he 
    clicks the "Click here for Premium stuff" link
  </small>
</p>
